[color]
	ui = auto
[sendemail]
	from = Evgeni Golov <evgeni+git@golov.de>
	suppresscc = all
[alias]
	lg = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
[user]
	name = Evgeni Golov
	signingkey = 333961E8
[help]
	autocorrect = 5
[gpg]
	program = /usr/bin/gpg2
