[color]
	ui = auto
[core]
	pager = delta
[sendemail]
	from = Evgeni Golov <evgeni+git@golov.de>
	suppresscc = all
[alias]
	lg = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
	please = push --force-with-lease
	find = !git ls-files | grep
[user]
	name = Evgeni Golov
	signingkey = 333961E8
[help]
	autocorrect = 5
[gpg]
	program = /usr/bin/gpg2
[checkout]
	defaultRemote=origin
[annex "security"]
	allowed-http-addresses = all
[annex]
	gitaddtoannex = false
[diff]
	noprefix = true
	colorMoved = default
[init]
	defaultBranch = devel
[interactive]
	diffFilter = delta --color-only
[delta]
	features = side-by-side line-numbers decorations
[pull]
	ff = only
[push]
	autoSetupRemote = true
